---
---

@import "{{ site.theme }}";

header {
  display: none;
}

footer {
  display: none;
}

#main_content_wrap {
  background: white;
}

.People {
  background-color: white;    
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
  box-shadow: 0 0 20px #ebebeb;
  -webkit-box-shadow: 0 0 20px #ebebeb;
  -moz-box-shadow: 0 0 20px #ebebeb;
  -o-box-shadow: 0 0 20px #ebebeb;
  -ms-box-shadow: 0 0 20px #ebebeb;
}

a {
 color: #DC267F
}
